<footer class="footer container" style="z-index: 0;">
	<div class="row">
		<div class="col-12 text-center">
			<small><a href="https://www.ocac.gov.tw/ocac/" target="_blank">中華民國僑務委員會</a></small><br>
			<small><a href="https://www.ocac.gov.tw/OCAC/Eng/" target="_blank">Overseas Community Affairs Council, R.O.C.（Taiwan）</a></small><br />
			<small>地址：<a href="https://www.ocac.gov.tw/OCAC/Pages/VDetail.aspx?nodeid=536&pid=1603" target="_blank">10055台北市徐州路五號三、十五、十六、十七樓<br />
			3,15-17F., No.5, Xuzhou Rd., Zhongzheng Dist., Taipei City 10055, Taiwan (R.O.C.)</a></small><br>
			<small>E-mail：<a href="https://www.ocac.gov.tw/OCAC/ServiceEmail/ServiceEmail.aspx?nodeid=314" target="_blank">中華民國僑務委員會服務信箱網址連結</a></small><br/>
			<small>電話：+886-2-2327-2600  傳真：+886-2-2356-6354</small><br/>
			<small>上班時間：臺灣時間週一至週五 08:30 ~ 17:30</small>
		</div>
	</div>
</footer>