<div class="row mb-2">
	<div class="col-12">
		<button class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i> 新增帳號</button> 
		<button class="btn btn-info"><i class="fa fa-sign-in" aria-hidden="true"></i> 匯入帳號</button>
	</div>
</div>
<div class="row">
	<div class="col-12"">
		<div style="overflow: auto;">
			<table class="table table-hover" style="min-width: 1000px">
				<thead>
					<tr>
						<th></th>
						<th></th>
						<th>帳號</th>
						<th>單位</th>
						<th>帳戶名稱</th>
						<th>帳戶權限</th>
						<th>可查看系所</th>
						<th>志願序權限</th>
						<th>帳號狀態</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><i class="fa fa-pencil" aria-hidden="true"></i></td>
						<td><i class="fa fa-times" aria-hidden="true"></i></td>
						<td>0073for105</td>
						<td>國立臺北科技大學</td>
						<td>國立臺北科技大學</td>
						<td>全部</td>
						<td></td>
						<td>可查看</td>
						<td>帳號啟用</td>
					</tr>
					<tr> <td><i class="fa fa-pencil" aria-hidden="true"></i></td> <td><i class="fa fa-times" aria-hidden="true"></i></td> <td>0073for105</td> <td>國立臺北科技大學</td> <td>國立臺北科技大學</td> <td>全部</td> <td></td> <td>可查看</td> <td>帳號啟用</td> </tr>
					<tr> <td><i class="fa fa-pencil" aria-hidden="true"></i></td> <td><i class="fa fa-times" aria-hidden="true"></i></td> <td>0073for105</td> <td>國立臺北科技大學</td> <td>國立臺北科技大學</td> <td>全部</td> <td></td> <td>可查看</td> <td>帳號啟用</td> </tr>
					<tr> <td><i class="fa fa-pencil" aria-hidden="true"></i></td> <td><i class="fa fa-times" aria-hidden="true"></i></td> <td>0073for105</td> <td>國立臺北科技大學</td> <td>國立臺北科技大學</td> <td>全部</td> <td></td> <td>可查看</td> <td>帳號啟用</td> </tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
