<div class="row mb-2">
	<div class="col-12">
		<button class="btn btn-primary" data-toggle="modal" data-target=".AccountModal" data-type="C"><i class="fa fa-plus" aria-hidden="true"></i> 新增帳號</button>
		<button class="btn btn-info btn-importAccount"><i class="fa fa-user-plus" aria-hidden="true"></i> 匯入新帳號</button>
		<button class="btn btn-success exportAccount"><i class="fa fa-sign-out" aria-hidden="true"></i> 匯出帳號清單</button>
		<button class="btn btn-danger importAccount"><i class="fa fa-sign-in" aria-hidden="true"></i> 匯入並覆蓋帳號</button>
		<input type="file" class="input-file" accept=".csv" style="display: none" />
	</div>
</div>
<div class="row">
	<div class="col-12">
		<div style="overflow: auto;">
			<table class="table table-hover AccountList" style="min-width: 1000px">
				<thead>
					<tr>
						<th></th>
						<th></th>
						<th>帳號</th>
						<th>單位</th>
						<th>帳戶名稱</th>
						<th>帳戶權限</th>
						<th>可查看系所</th>
						<th>帳號狀態</th>
					</tr>
				</thead>
				<tbody>
					<!-- <tr class="AccountItem">
						<td class="text-warning clickable" data-toggle="modal" data-target=".AccountModal" data-type="U">
							<i class="fa fa-pencil" aria-hidden="true"></i>
						</td>
						<td class="text-danger clickable AccountItem__btn-del">
							<i class="fa fa-times" aria-hidden="true"></i>
						</td>
						<td class="AccountItem__account">0073for105</td>
						<td class="AccountItem__dept">國立臺北科技大學</td>
						<td class="AccountItem__username">國立臺北科技大學</td>
						<td class="AccountItem__accountPermission">全部</td>
						<td class="AccountItem__deptPermission"></td>
						<td class="AccountItem__status">帳號啟用</td>
					</tr> -->
				</tbody>
			</table>
		</div>
	</div>
</div>

<div class="modal fade AccountModal" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title AccountModal__title"></h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form>
					<div class="form-group row">
						<label for="AccountModal__input-username" class="col-sm-2 col-form-label">帳號</label>
						<div class="col-sm-10">
							<input type="text" class="form-control AccountModal__input-username" id="AccountModal__input-username" >
						</div>
					</div>
					<div class="form-group row">
						<label for="AccountModal__input-name" class="col-sm-2 col-form-label">用戶名稱</label>
						<div class="col-sm-10">
							<input type="text" class="form-control AccountModal__input-name" id="AccountModal__input-name">
						</div>
					</div>
					<div class="form-group row">
						<label for="AccountModal__input-password" class="col-sm-2 col-form-label">密碼</label>
						<div class="col-sm-10">
							<input type="password" class="form-control AccountModal__input-password" id="AccountModal__input-password">
						</div>
					</div>
					<div class="form-group row">
						<label for="AccountModal__input-organization" class="col-sm-2 col-form-label">單位</label>
						<div class="col-sm-10">
							<input type="text" class="form-control AccountModal__input-organization" id="AccountModal__input-organization">
						</div>
					</div>
					<div class="form-group row">
						<label for="AccountModal__input-jobTitle" class="col-sm-2 col-form-label">職稱</label>
						<div class="col-sm-10">
							<input type="text" class="form-control AccountModal__input-jobTitle" id="AccountModal__input-jobTitle">
						</div>
					</div>
					<div class="form-group row">
						<label for="AccountModal__input-email" class="col-sm-2 col-form-label">MAIL</label>
						<div class="col-sm-10">
							<input type="text" class="form-control AccountModal__input-email" id="AccountModal__input-email">
						</div>
					</div>
					<div class="form-group row">
						<label for="AccountModal__input-phone" class="col-sm-2 col-form-label">TEL</label>
						<div class="col-sm-10">
							<input type="text" class="form-control AccountModal__input-phone" id="AccountModal__input-phone">
						</div>
					</div>
					<fieldset class="form-group AccountStatusForm">
						<div class="row">
							<legend class="col-form-legend col-sm-2">帳號狀態</legend>
							<div class="col-sm-10">
								<div class="form-check">
									<label class="form-check-label">
										<input class="form-check-input AccountModal__input-status" type="radio" name="AccountModal__input-status" value="1" checked>
										帳號啟用
									</label>
								</div>
								<div class="form-check">
									<label class="form-check-label">
										<input class="form-check-input AccountModal__input-status" type="radio" name="AccountModal__input-status" value="0">
										帳號關閉
									</label>
								</div>
							</div>
						</div>
					</fieldset>
					<div class="form-group row DeptPermissionForm">
						<div class="col-sm-2">可查看系所</div>
						<div class="col-sm-10 mb-2">
							<h4><span class="badge badge-warning">四年制產學合作學士班</span></h4>
							<div class="row">
								<div class="col-lg-5">
									<strong>所有系所</strong>
									<div class="card pt-1 pb-1 DeptList" data-system="oyvtp" style="max-height: 250px; min-height: 100px; overflow: auto;">
										<!-- <div class="pb-1 pl-1 pr-1 DeptList__item">
											<span class="title">學 17301 經營管理系</span>
											<span class="btn-select">
												<i class="fa fa-arrow-right d-none d-lg-inline" aria-hidden="true"></i>
												<i class="fa fa-arrow-down d-inline d-lg-none" aria-hidden="true"></i>
											</span>
										</div> -->
									</div>
								</div>
								<div class="col-lg-2 text-center pt-2">
									<button type="button" class="btn btn-sm btn-primary btn-selectAll mb-lg-2" data-system="oyvtp">
										全選
										<i class="fa fa-chevron-right d-none d-lg-inline" aria-hidden="true"></i>
										<i class="fa fa-chevron-down d-inline d-lg-none" aria-hidden="true"></i>
									</button>
									<button type="button" class="btn btn-sm btn-danger btn-removeAll" data-system="oyvtp">
										移除
										<i class="fa fa-chevron-left d-none d-lg-inline" aria-hidden="true"></i>
										<i class="fa fa-chevron-up d-inline d-lg-none" aria-hidden="true"></i>
									</button>
								</div>
								<div class="col-lg-5">
									<strong>已選系所</strong>
									<div class="card pt-1 pb-1 SelectedDeptList" data-system="oyvtp" style="max-height: 250px; min-height: 100px; overflow: auto;">
										<!-- <div class="pb-1 pl-1 pr-1 SelectedDeptList__item">
											<span class="title">學 17301 經營管理系</span>
											<span class="btn-remove">
												<i class="fa fa-arrow-left d-none d-lg-inline" aria-hidden="true"></i>
												<i class="fa fa-arrow-up d-inline d-lg-none" aria-hidden="true"></i>
											</span>
										</div> -->
									</div>
								</div>
							</div>
						</div>
					</div>
					<input type="hidden" class="AccountModal__input-modalType" />
					<input type="hidden" class="AccountModal__input-id" />
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary AccountModal__btn-submit"></button>
				<button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade CSVModal" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title CSVModal__title"></h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body CSVModal__body" style="max-height: 500px; overflow: auto">
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary CSVModal__btn-submit">匯入</button>
				<button type="button" class="btn btn-secondary CSVModal__btn-cancel" data-dismiss="modal">取消</button>
			</div>
		</div>
	</div>
</div>
<link rel="stylesheet" href="./css/account.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jschardet/1.6.0/jschardet.min.js" integrity="sha256-CEf/4H6Uoi1ITLUQxu/mUnVHZdabrr4lVGsTduOHkkQ="
	crossorigin="anonymous"></script>
<script src="./js/account.js"></script>
