<div class="row mb-2">
	<div class="col-12">
		<button class="btn btn-primary" data-toggle="modal" data-target=".AccountModal" data-type="C"><i class="fa fa-plus" aria-hidden="true"></i> 新增帳號</button> 
		<button class="btn btn-info"><i class="fa fa-sign-in" aria-hidden="true"></i> 匯入帳號</button>
	</div>
</div>
<div class="row">
	<div class="col-12"">
		<div style="overflow: auto;">
			<table class="table table-hover" style="min-width: 1000px">
				<thead>
					<tr>
						<th></th>
						<th></th>
						<th>帳號</th>
						<th>單位</th>
						<th>帳戶名稱</th>
						<th>帳戶權限</th>
						<th>可查看系所</th>
						<th>志願序權限</th>
						<th>帳號狀態</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td data-toggle="modal" data-target=".AccountModal" data-type="U"><i class="fa fa-pencil" aria-hidden="true"></i></td>
						<td><i class="fa fa-times" aria-hidden="true"></i></td>
						<td>0073for105</td>
						<td>國立臺北科技大學</td>
						<td>國立臺北科技大學</td>
						<td>全部</td>
						<td></td>
						<td>可查看</td>
						<td>帳號啟用</td>
					</tr>
					<tr> <td><i class="fa fa-pencil" aria-hidden="true"></i></td> <td><i class="fa fa-times" aria-hidden="true"></i></td> <td>0073for105</td> <td>國立臺北科技大學</td> <td>國立臺北科技大學</td> <td>全部</td> <td></td> <td>可查看</td> <td>帳號啟用</td> </tr>
					<tr> <td><i class="fa fa-pencil" aria-hidden="true"></i></td> <td><i class="fa fa-times" aria-hidden="true"></i></td> <td>0073for105</td> <td>國立臺北科技大學</td> <td>國立臺北科技大學</td> <td>全部</td> <td></td> <td>可查看</td> <td>帳號啟用</td> </tr>
					<tr> <td><i class="fa fa-pencil" aria-hidden="true"></i></td> <td><i class="fa fa-times" aria-hidden="true"></i></td> <td>0073for105</td> <td>國立臺北科技大學</td> <td>國立臺北科技大學</td> <td>全部</td> <td></td> <td>可查看</td> <td>帳號啟用</td> </tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

<div class="modal fade AccountModal" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title AccountModal__title"></h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form>
					<div class="form-group row">
						<label for="AccountModal__input-account" class="col-sm-2 col-form-label">帳號</label>
						<div class="col-sm-10">
							<input type="text" class="form-control AccountModal__input-account" id="AccountModal__input-account">
						</div>
					</div>
					<div class="form-group row">
						<label for="AccountModal__input-username" class="col-sm-2 col-form-label">用戶名稱</label>
						<div class="col-sm-10">
							<input type="text" class="form-control AccountModal__input-username" id="AccountModal__input-username">
						</div>
					</div>
					<div class="form-group row">
						<label for="AccountModal__input-password" class="col-sm-2 col-form-label">密碼</label>
						<div class="col-sm-10">
							<input type="password" class="form-control AccountModal__input-password" id="AccountModal__input-password">
						</div>
					</div>
					<div class="form-group row">
						<label for="AccountModal__input-dept" class="col-sm-2 col-form-label">單位</label>
						<div class="col-sm-10">
							<input type="dept" class="form-control AccountModal__input-dept" id="AccountModal__input-dept">
						</div>
					</div>
					<div class="form-group row">
						<label for="AccountModal__input-title" class="col-sm-2 col-form-label">職稱</label>
						<div class="col-sm-10">
							<input type="title" class="form-control AccountModal__input-title" id="AccountModal__input-title">
						</div>
					</div>
					<div class="form-group row">
						<label for="AccountModal__input-mail" class="col-sm-2 col-form-label">MAIL</label>
						<div class="col-sm-10">
							<input type="mail" class="form-control AccountModal__input-mail" id="AccountModal__input-mail">
						</div>
					</div>
					<div class="form-group row">
						<label for="AccountModal__input-tel" class="col-sm-2 col-form-label">TEL</label>
						<div class="col-sm-10">
							<input type="tel" class="form-control AccountModal__input-tel" id="AccountModal__input-tel">
						</div>
					</div>
					<div class="form-group row">
						<label for="AccountModal__input-ip" class="col-sm-2 col-form-label">用戶 IP</label>
						<div class="col-sm-10">
							<input type="ip" class="form-control AccountModal__input-ip" id="AccountModal__input-ip">
						</div>
					</div>
					<fieldset class="form-group">
						<div class="row">
							<legend class="col-form-legend col-sm-2">帳號狀態</legend>
							<div class="col-sm-10">
								<div class="form-check">
									<label class="form-check-label">
										<input class="form-check-input AccountModal__input-status" type="radio" name="AccountModal__input-status" value="1" checked>
										帳號啟用
									</label>
								</div>
								<div class="form-check">
									<label class="form-check-label">
										<input class="form-check-input AccountModal__input-status" type="radio" name="AccountModal__input-status" value="0">
										帳號關閉
									</label>
								</div>
							</div>
						</div>
					</fieldset>
					<div class="form-group row">
						<div class="col-sm-2">帳號權限</div>
						<div class="col-sm-10">
							<div class="form-check">
								<label class="form-check-label">
									<input class="form-check-input AccountModal__input-accountPermission" name="AccountModal__input-accountPermission" type="checkbox"> 學士班
								</label>
								<label class="form-check-label">
									<input class="form-check-input AccountModal__input-accountPermission" name="AccountModal__input-accountPermission" type="checkbox"> 碩士班
								</label>
								<label class="form-check-label">
									<input class="form-check-input AccountModal__input-accountPermission" name="AccountModal__input-accountPermission" type="checkbox"> 博士班
								</label>
								<label class="form-check-label">
									<input class="form-check-input AccountModal__input-accountPermission" name="AccountModal__input-accountPermission" type="checkbox"> 港二技
								</label>
							</div>
						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-2">志願序權限</div>
						<div class="col-sm-10">
							<div class="form-check">
								<label class="form-check-label">
									<input class="form-check-input AccountModal__input-orderPermission" type="checkbox"> 不可查看
								</label>
							</div>
						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-2">可查看系所</div>
						<div class="col-sm-10">
							~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
						</div>
					</div>
					<input type="hidden" class="AccountModal__input-modalType" />
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary AccountModal__btn-submit"></button>
				<button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
			</div>
		</div>
	</div>
</div>
