<div class="row mb-2" style="padding: 0px 15px;">
    <div class="col-12">
        <div class="row">
            <div class="col-12 ml-auto text-right pr-4">
                <button class="btn btn-info btn-sm hide" onclick="app.getStudentApplicationDocsFile('all', 'all', 'pdf');" id="allpdfzip">
                     <i class="fa fa-download" aria-hidden="true"></i> 全校 PDF 合併檔
                </button>
                <button class="btn btn-info btn-sm hide" onclick="app.getStudentApplicationDocsFile('two-year-tech', 'all', 'pdf');" id="twoyearallpdfzip">
                     <i class="fa fa-download" aria-hidden="true"></i> 全校 PDF 合併檔(港二技)
                </button>
            </div>
        </div>
        <div class="row mb-2 bachelorForm hide">
            <div class="col-12" style="border:1px solid LightGray; border-radius:12px; padding:10px 15px; margin: 5px;">
                <h3>學士班</h3>
                <div class="tableWrap">
                    <table class="table table-hover">
                        <tbody id="bachelorTbody">
                            <tr>
                                <td>ＯＯ系</td>
                                <td class="text-center btn-download">
                                    <button class="btn btn-success btn-sm">
                                        <i class="fa fa-download" aria-hidden="true"></i> 下載
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="row mb-2 masterForm hide">
            <div class="col-12" style="border:1px solid LightGray; border-radius:12px; padding:10px 15px; margin: 5px;">
                <h3>碩士班</h3>
                <div class="tableWrap">
                    <table class="table table-hover">
                        <tbody id="masterTbody">
                            <tr>
                                <td>ＯＯ系</td>
                                <td class="text-center btn-download">
                                    <button class="btn btn-success btn-sm">
                                        <i class="fa fa-download" aria-hidden="true"></i> 下載
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="row mb-2 phdForm hide">
            <div class="col-12" style="border:1px solid LightGray; border-radius:12px; padding:10px 15px; margin: 5px;">
                <h3>博士班</h3>
                <div class="tableWrap">
                    <table class="table table-hover">
                        <tbody id="phdTbody">
                            <tr>
                                <td>ＯＯ系</td>
                                <td class="text-center btn-download">
                                    <button class="btn btn-success btn-sm">
                                        <i class="fa fa-download" aria-hidden="true"></i> 下載
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="row mb-2 twoYearForm hide">
            <div class="col-12" style="border:1px solid LightGray; border-radius:12px; padding:10px 15px; margin: 5px;">
                <h3>港二技</h3>
                <div class="tableWrap">
                    <table class="table table-hover">
                        <tbody id="twoYearTechTbody">
                            <tr>
                                <td>ＯＯ系</td>
                                <td class="text-center btn-download">
                                    <button class="btn btn-success btn-sm">
                                        <i class="fa fa-download" aria-hidden="true"></i> 下載
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<link rel="stylesheet" href="./css/download.css">
<script src="./js/download.js"></script>
