<div class="row mb-2">
    <div class="col-12">
        <h3>學士班</h3>
        <div class="tableWrap">
            <table class="table table-hover">
                <tbody>
                    <tr>
                        <td>ＯＯ系</td>
                        <td class="text-center btn-download">
                            <button class="btn btn-success btn-sm">
                                <i class="fa fa-download" aria-hidden="true"></i> 下載
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="row mb-2">
    <div class="col-12">
        <h3>碩士班</h3>
        <div class="tableWrap">
            <table class="table table-hover">
                <tbody>
                    <tr>
                        <td>ＯＯ系</td>
                        <td class="text-center btn-download">
                            <button class="btn btn-success btn-sm">
                                <i class="fa fa-download" aria-hidden="true"></i> 下載
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
<div class="row mb-2">
    <div class="col-12">
        <h3>博士班</h3>
        <div class="tableWrap">
            <table class="table table-hover">
                <tbody>
                    <tr>
                        <td>ＯＯ系</td>
                        <td class="text-center btn-download">
                            <button class="btn btn-success btn-sm">
                                <i class="fa fa-download" aria-hidden="true"></i> 下載
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
<div class="row mb-2">
    <div class="col-12">
        <h3>港二技</h3>
        <div class="tableWrap">
            <table class="table table-hover">
                <tbody>
                    <tr>
                        <td>ＯＯ系</td>
                        <td class="text-center btn-download">
                            <button class="btn btn-success btn-sm">
                                <i class="fa fa-download" aria-hidden="true"></i> 下載
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<link rel="stylesheet" href="./css/download.css">
