<div class="row">
	<div class="col-12">
		<div class="jumbotron">
			<!--
			<h1 class="display-3">Hello, world!</h1>
			<p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
			<hr class="my-4">
			<p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
			<p class="lead">
				<a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
			</p>
			-->
			<ul>
				<!--
				<li style="letter-spacing:1px; color: red;">有關系統學生資料之「下載審查資料（原始檔）」或批次下載之原始檔案合併檔中，因作品集-作品連結.TXT所載網址會產生換行符號（/r/n），目前後臺正緊急處理中，唯為不影響各校時程， 在更新前敬請於複製網址時刪除換行符號（/r/n）即可順利連結。</li>
				<li style="letter-spacing:1px; color: DarkCyan;">整批下載<span style="color:red">學生原始審查資料</span>及<span style="color:red">PDF合併檔</span>之功能已經完成，若有需要，請逕於系統界面內直接下載。</li>
				-->
				<li style="letter-spacing:1px;">依據僑務委員會112年10月18日113學年度四年制產學合作學士海外青年技術訓練班招生簡章研商會議決議八，本專班除「聯合招生」外，各校得辦理「單獨招生」。系統已先行匯入各校「聯合招生」及「單獨招生」名冊。</li>
				<li style="letter-spacing:1px; color: DarkCyan;">請各校填復各生（含「聯合招生」及「單獨招生」）審查結果。填復完成後，各校主承辦人需列印系統產生之「審件回覆表」並核章確認後，掃描並回傳至本會委託單位「海外聯招會」電子郵件信箱(overseassurvey@gmail.com)，並來電（049--2910900）確認收訖，始完成審查回覆作業。</li>
				<li style="letter-spacing:1px;">系統僅提供「聯合招生」報名學生報名表件掃描檔。各生名冊資料若有誤植，請逕向僑務委員會確認。</li>
				<li style="letter-spacing:2px">本案報名學生尚未經會議確認報名資格，爰建議各系所審查時毋須考量招生名額之限制，僅須回復審查不合格原因，以及合格排名順序（為配合電腦程式分發作業，排名序切勿重覆）。</li>
				<li style="letter-spacing:2px">鑒於本專班之分發原則係依據各校系招生名額、成班人數下限、各校核錄排序結果及各生之「聯合招生」選填志願序辦理，再由僑務委員會召開分發會議確認錄取名單，<span style="color:red">敬請 貴校於僑務委員會確認錄取名單前，切勿逕行通知各生審查結果，以免造成錄取與否之困擾</span>。</li>
			</ul>
			<hr class="my-4">
			<ul id="link-list"></ul>
		</div>
	</div>
</div>
<script src="js/index.js"></script>
