<div class="row">
	<div class="col-12">
		<div class="jumbotron">
			<!--
			<h1 class="display-3">Hello, world!</h1>
			<p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
			<hr class="my-4">
			<p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
			<p class="lead">
				<a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
			</p>
			-->
			<ul>
				<!--
				<li style="letter-spacing:1px; color: red;">有關系統學生資料之「下載審查資料（原始檔）」或批次下載之原始檔案合併檔中，因作品集-作品連結.TXT所載網址會產生換行符號（/r/n），目前後臺正緊急處理中，唯為不影響各校時程， 在更新前敬請於複製網址時刪除換行符號（/r/n）即可順利連結。</li>
				<li style="letter-spacing:1px; color: DarkCyan;">整批下載<span style="color:red">學生原始審查資料</span>及<span style="color:red">PDF合併檔</span>之功能已經完成，若有需要，請逕於系統界面內直接下載。</li>
				-->
				<li style="letter-spacing:1px; color: DarkCyan;">請依簡章填覆之帳號登入系統，填復各生審查結果。填復完成後，各校主承辦人需列印系統產生之「審件回覆表」，經核章確認，再以傳真（Fax：049-2911182）或掃描郵寄檔案至本會電子郵件信箱（overseassurvey@gmail.com），並來電確認，始完成審查回覆作業）。 </li>
				<li style="letter-spacing:1px;">為求時效，目前系統比照往年作法，先行提供報名學生自行填報資料，若有個別學生因姓名或僑居地等欄位資料填報誤植，將俟僑務委員會或教育部完成資格審查後，統一修正並辦理分發作業。</li>
				<li style="letter-spacing:2px">本案報名學生尚未經僑務委員會或教育部審查僑生或港澳生資格，爰建議各系所審查時毋須考量招生名額之限制，僅須回復審查不合格原因，以及合格排名順序（為配合電腦程式分發作業，排名序切勿重覆）。</li>
				<li style="letter-spacing:2px">查本會現行分發方式係依據教育部核定各校系招生名額、各校審查結果及申請人選填志願序辦理統一分發，<span style="color:red">敬請  貴校於本會公告錄取名單前，切勿逕行通知各生審查結果，以免造成錄取與否之困擾</span>。</li>
			</ul>
			<hr class="my-4">
			<ul>
				<li id="downloadPpt"></li>
				<li id="importAccount"></li>
				<li id="deptID"></li>
				<li id="noAcceptList"></li>
				<li id="annex01"></li>
				<li id="annex02"></li>
				<li id="annex03"></li>
				<li id="annex04"></li>
				<!-- <li id="annex05"></li> -->
				<li id="annex06"></li>
				<li id="annex07"></li>
				<li id="annex08"></li>
			</ul>
		</div>
	</div>
</div>
<script src="js/index.js"></script>
