<div class="row">
	<div class="col-12">
		<div class="jumbotron">
			<!--
			<h1 class="display-3">Hello, world!</h1>
			<p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
			<hr class="my-4">
			<p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
			<p class="lead">
				<a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
			</p>
			-->
			<ul>
				<li style="letter-spacing:1px; color: DarkCyan;">因檔案轉檔及合併發生非預期問題，故批次下載功能需等後台轉檔完成才能使用。<br />
					建議各校：先行以線上閱覽為主(學生詳細資料)。在併檔完成前，不要使用下載功能。 造成不便，敬請見諒！</li>
				<li style="letter-spacing:1px; color: DarkCyan;">若有匯入之帳號無法登入者，請將您匯入的csv寄至overseas@ncnu.edu.tw。來信主旨請寫 [ 學校 ]＿下載系統帳號，ex: 國立暨南國際大學＿下載系統帳號</li>
				<li style="letter-spacing:2px">本案報名學生尚未經僑務委員會或教育部審查僑生或港澳生資格，爰建議各系所審查時毋須考量招生名額之限制，僅須回復審查不合格原因，以及合格排名順序（為配合電腦程式分發作業，排名序切勿重覆）。</li>
				<li style="letter-spacing:2px>請於<font color="red">107年1月22日（星期一）至 107年2月12日（星期一）止</font>，依公文附件預設帳號登入系統，填復各生審查結果。填復完成後，需列印系統產生之「審件回覆表」，經核章確認，再以傳真（Fax：049-2911182）或掃描郵寄檔案至本會電子郵件信箱（overseassurvey@gmail.com），並來電確認，始完成審查回覆作業</li>
				<li style="letter-spacing:2px>查本會現行分發方式係依據教育部核定各校系招生名額、各校審查結果及申請人選填志願序辦理統一分發，<font color="red">敬請  貴校於本會公告錄取名單前，切勿逕行通知各生審查結果，以免造成錄取與否之困擾</font>。</li>
			</ul>
			<hr class="my-4">
			<ul>
				<li id="downloadPtt"></li>
				<li id="importAccount"></li>
				<li id="deptID"></li>
				<li id="noAcceptList"></li>
				<li id="annex01"></li>
				<li id="annex02"></li>
				<li id="annex03"></li>
			</ul>
		</div>
	</div>
</div>
<script src="js/index.js"></script>
