<div class="row">
	<div class="col-12">
		<div class="jumbotron">
			<!--
			<h1 class="display-3">Hello, world!</h1>
			<p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
			<hr class="my-4">
			<p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
			<p class="lead">
				<a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
			</p>
			-->
			<ul>
				<!--
				<li style="letter-spacing:1px; color: red;">有關系統學生資料之「下載審查資料（原始檔）」或批次下載之原始檔案合併檔中，因作品集-作品連結.TXT所載網址會產生換行符號（/r/n），目前後臺正緊急處理中，唯為不影響各校時程， 在更新前敬請於複製網址時刪除換行符號（/r/n）即可順利連結。</li>
				<li style="letter-spacing:1px; color: DarkCyan;">整批下載<span style="color:red">學生原始審查資料</span>及<span style="color:red">PDF合併檔</span>之功能已經完成，若有需要，請逕於系統界面內直接下載。</li>
				-->
				<li style="letter-spacing:1px;">系統已先行匯入本專班之各校報名學生名冊，各生基本資料如有誤植，請逕向僑務委員會確認。</li>
				<li style="letter-spacing:1px;">各生報名資格尚未經會議確認，爰建議各校審查時就報名學生名冊逕行排序，<span style="color: DarkCyan;">毋須考量招生名額之限制，僅須回復審查不合格原因，以及合格排名順序（排名序切勿重覆）</span>。填復完成，請列印系統產生之「審查結果回覆表」，經確認無誤後核章，並掃描回傳電子檔至本會委託單位「海外聯招會」電郵信箱 overseassurvey@gmail.com，來電（049-2910900）確認收訖，始完成審查回覆作業。</li>
				<li style="letter-spacing:2px">鑒於本專班之錄取名單須經僑務委員會召開分發會議確認，<span style="color:red">敬請 貴校切勿提前逕行通知各生審查結果，以免造成分發爭議，衍生困擾</span>。</li>
			</ul>
			<hr class="my-4">
			<ul id="link-list"></ul>
		</div>
	</div>
</div>
<script src="js/index.js"></script>
