<!DOCTYPE html>
<html>
<head>
	<title>海外青年訓練班學生資料下載與審查回覆系統</title>
	<%- include ('component/_header') %>
</head>
<body>
	<%- include ('component/_loading') %>
	<div class="container" style="padding-top: 15vh; min-height: calc(100vh - 112px)">
		<div class="row">
			<div class="col-12">
				<div class="mx-auto" style="width: 540px; display: flex;">
					<div style="flex: 1">
						<img src="./img/logo.png" alt="logo" height="100" />
					</div>
					<div class="pl-1" style="font-size: 26px; font-weight: bold; flex: 4;" id="loginWordOfSystem">海外青年訓練班<br />學生資料下載與審查回覆系統</div>
				</div>
			</div>
		</div>
		<div class="row mt-5">
			<div class="col-lg-8 mx-auto">
				<div class="card">
					<div class="card-body">
						<form class="LoginForm">
							<div class="form-group row">
								<label for="input-username" class="col-sm-2 col-form-label text-center text-center font-weight-bold">帳號</label>
								<div class="col-sm-10">
									<input type="text" class="form-control LoginForm__input-username" id="input-username">
								</div>
							</div>
							<div class="form-group row">
								<label for="input-password" class="col-sm-2 col-form-label text-center font-weight-bold">密碼</label>
								<div class="col-sm-10">
									<input type="password" class="form-control LoginForm__input-password" id="input-password">
								</div>
							</div>
							<div class="form-group row">
								<div class="col-sm-12">
									<button class="btn btn-primary btn-block font-weight-bold">登入</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="text-center pt-2 pb-2">
		<%- include ('component/_footer') %>
	</div>
	<script src="js/login.js"></script>
	<script src="js/config.js"></script>
	<script>
		const _productionConfig = window.getConfig();

		if (!_productionConfig.isProduction) {
			document.title='海外青年訓練班學生資料下載與審查回覆系統-測試站';
			document.getElementById('loginWordOfSystem').innerHTML='海外青年訓練班<br />學生資料下載與審查回覆系統<br />測試站';
		}

		/* Sample function that returns boolean in case the browser is Internet Explorer*/
		function isIE() {
		ua = navigator.userAgent;
			/* MSIE used to detect old browsers and Trident used to newer ones*/
			var is_ie = ua.indexOf("MSIE ") > -1 || ua.indexOf("Trident/") > -1;
			return is_ie;
		}
		/* Create an alert to show if the browser is IE or not */
		if (isIE()){
			alert('IE 瀏覽器可能無法正常操作網頁功能，請改以 Chrome、Edge、Firefox 操作。');
		}else{
			//alert('It is NOT InternetExplorer');
		}
	</script>

</body>
</html>
