<div class="row mb-3">
	<div class="col-12">
		<ul class="nav nav-tabs">
			<li class="nav-item" id="oyvtp-nav-item">
				<a class="nav-link active" id="oyvtp-tab" data-toggle="tab" href="#oyvtp" role="tab" aria-controls="oyvtp" aria-selected="true">四年制產學合作學士班</a>
			</li>
		</ul>
	</div>
</div>
<div class="tab-content" id="myTabContent">
	<div class="tab-pane fade show active row" id="oyvtp" role="tabpanel" aria-labelledby="oyvtp-tab">
		<div class="col-12">
			<div class="row">
				<div class="col-7">
					<h3>四年制產學合作學士班 系所審查狀態</h3>
				</div>

				<div class="col-5 text-right" id="oyvtp-cant-confirm">
					<small class="badge badge-danger">此學制仍有系所尚未鎖定</small>
				</div>

				<div class="col-5 text-right" id="oyvtp-can-confirm">
					<small class="badge badge-warning">此學制各系全已鎖定，可按下確認審查結果並鎖定</small>
				</div>

				<div class="col-5 text-right" id="oyvtp-confirm-block" style="display: none;">
					<small class="badge badge-primary">由 <span id="oyvtp-confirm-by">Name</span> 確認並鎖定於 <span id="oyvtp-confirm-at">YYYY/MM/DD HH:mm:ss</span></small>
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<button id="oyvtp-lock-all-no-student" class="btn btn-info" role="button">
						<i class="fa fa-lock" aria-hidden="true"></i>
						鎖定四年制產學合作學士班所有無人選填系所
					</button>
					<button id="oyvtp-download-review-form" class="btn btn-success" role="button">
						<i class="fa fa-download" aria-hidden="true"></i>
						下載四年制產學合作學士班審查結果回覆表
					</button>
				</div>
			</div>
			<div style="max-height: 500px; overflow: auto; margin-top: 12px;">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>系所代碼</th>
							<th>系所名稱</th>
							<th>審查狀態</th>
							<th>最後審查者</th>
							<th>最後審查時間</th>
						</tr>
					</thead>
					<tbody id="oyvtpTbody">
						<tr>
							<td>12345</td>
							<td>資訊管理系</td>
							<td>已儲存</td>
							<td>Name</td>
							<td>YYYY/MM/DD HH:mm:ss</td>
						</tr>
						<tr>
							<td>12346</td>
							<td>資訊應用外語系</td>
							<td>已鎖定</td>
							<td>Name</td>
							<td>YYYY/MM/DD HH:mm:ss</td>
						</tr>
						<tr>
							<td>12347</td>
							<td>資訊工程系</td>
							<td>未審查</td>
							<td>Name</td>
							<td>YYYYYYYY/MM/DD HH:mm:ss</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

		<div class="col-md-4 text-center mb-5 mx-auto mt-4">
			<button class="btn btn-danger btn-block" id="oyvtp-confirm">確認四年制產學合作學士班審查結果並鎖定</button>
		</div>
	</div>
</div>

<script src="./js/result.js"></script>
