<div class="row">
	<div class="col-12">
		<form>
			<div class="form-group row">
				<label for="staticEmail" class="col-sm-2 col-form-label">學制</label>
				<div class="col-sm-10">
					<select class="form-control form-control-sm">
						<option>請選擇</option>
					</select>
				</div>
			</div>
			<div class="form-group row">
				<label for="inputPassword" class="col-sm-2 col-form-label">系所</label>
				<div class="col-sm-10">
					<select class="form-control form-control-sm">
						<option>請選擇</option>
					</select>
				</div>
			</div>
		</form>
	</div>
</div>
<hr />
<div class="row">
	<div class="col-12 text-center">
		<button class="btn btn-primary">
			<i class="fa fa-upload" aria-hidden="true"></i> 
			匯入士班所有系所審查結果
		</button>
		<button class="btn btn-primary">
			<i class="fa fa-upload" aria-hidden="true"></i> 
			匯入士班系所審查結果
		</button>
	</div>
</div>
<hr />
<div class="row mb-5 mt-5">
	<div class="col-12">
		<h3 class="border-secondary pl-2" style="border-left: 5px solid">待審核清單</h3>
		<div style="max-height: 350px; overflow: auto">
			<table class="table table-hover">
				<thead>
					<tr>
						<th>序號</th>
						<th>學生姓名</th>
						<th style="width: 120px"></th>
						<th style="width: 120px"></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>001</td>
						<td>Joha Cena</td>
						<td class="text-center">
							<button class="btn btn-danger"><i class="fa fa-times" aria-hidden="true"></i> 不通過</button>
						</td>
						<td class="text-center">
							<button class="btn btn-success"><i class="fa fa-circle-o" aria-hidden="true"></i> 通過</button>
						</td>
					</tr>
					<tr>
						<td>001</td>
						<td>Joha Cena</td>
						<td class="text-center">
							<button class="btn btn-danger">
								<i class="fa fa-times" aria-hidden="true"></i> 不通過</button>
						</td>
						<td class="text-center">
							<button class="btn btn-success">
								<i class="fa fa-circle-o" aria-hidden="true"></i> 通過</button>
						</td>
					</tr>
					<tr>
						<td>001</td>
						<td>Joha Cena</td>
						<td class="text-center">
							<button class="btn btn-danger">
								<i class="fa fa-times" aria-hidden="true"></i> 不通過</button>
						</td>
						<td class="text-center">
							<button class="btn btn-success">
								<i class="fa fa-circle-o" aria-hidden="true"></i> 通過</button>
						</td>
					</tr>
					<tr>
						<td>001</td>
						<td>Joha Cena</td>
						<td class="text-center">
							<button class="btn btn-danger">
								<i class="fa fa-times" aria-hidden="true"></i> 不通過</button>
						</td>
						<td class="text-center">
							<button class="btn btn-success">
								<i class="fa fa-circle-o" aria-hidden="true"></i> 通過</button>
						</td>
					</tr>
					<tr>
						<td>001</td>
						<td>Joha Cena</td>
						<td class="text-center">
							<button class="btn btn-danger">
								<i class="fa fa-times" aria-hidden="true"></i> 不通過</button>
						</td>
						<td class="text-center">
							<button class="btn btn-success">
								<i class="fa fa-circle-o" aria-hidden="true"></i> 通過</button>
						</td>
					</tr>
					<tr>
						<td>001</td>
						<td>Joha Cena</td>
						<td class="text-center">
							<button class="btn btn-danger">
								<i class="fa fa-times" aria-hidden="true"></i> 不通過</button>
						</td>
						<td class="text-center">
							<button class="btn btn-success">
								<i class="fa fa-circle-o" aria-hidden="true"></i> 通過</button>
						</td>
					</tr>
					<tr>
						<td>001</td>
						<td>Joha Cena</td>
						<td class="text-center">
							<button class="btn btn-danger">
								<i class="fa fa-times" aria-hidden="true"></i> 不通過</button>
						</td>
						<td class="text-center">
							<button class="btn btn-success">
								<i class="fa fa-circle-o" aria-hidden="true"></i> 通過</button>
						</td>
					</tr>
					<tr>
						<td>001</td>
						<td>Joha Cena</td>
						<td class="text-center">
							<button class="btn btn-danger">
								<i class="fa fa-times" aria-hidden="true"></i> 不通過</button>
						</td>
						<td class="text-center">
							<button class="btn btn-success">
								<i class="fa fa-circle-o" aria-hidden="true"></i> 通過</button>
						</td>
					</tr>
					<tr>
						<td>001</td>
						<td>Joha Cena</td>
						<td class="text-center">
							<button class="btn btn-danger">
								<i class="fa fa-times" aria-hidden="true"></i> 不通過</button>
						</td>
						<td class="text-center">
							<button class="btn btn-success">
								<i class="fa fa-circle-o" aria-hidden="true"></i> 通過</button>
						</td>
					</tr>
					<tr>
						<td>001</td>
						<td>Joha Cena</td>
						<td class="text-center">
							<button class="btn btn-danger">
								<i class="fa fa-times" aria-hidden="true"></i> 不通過</button>
						</td>
						<td class="text-center">
							<button class="btn btn-success">
								<i class="fa fa-circle-o" aria-hidden="true"></i> 通過</button>
						</td>
					</tr>
					<tr>
						<td>001</td>
						<td>Joha Cena</td>
						<td class="text-center">
							<button class="btn btn-danger">
								<i class="fa fa-times" aria-hidden="true"></i> 不通過</button>
						</td>
						<td class="text-center">
							<button class="btn btn-success">
								<i class="fa fa-circle-o" aria-hidden="true"></i> 通過</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
<div class="row mb-5">
	<div class="col-6">
		<h3 class="border-danger pl-2" style="border-left: 5px solid">不通過清單</h3>
		<div style="max-height: 350px; overflow: auto">
			<table class="table table-hover">
				<thead>
					<tr>
						<th>序號</th>
						<th>學生姓名</th>
						<th style="width: 120px"></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>001</td>
						<td>John Cena</td>
						<td class="text-center">
							<button class="btn btn-warning">退回</button>
						</td>
					</tr>
					<tr>
						<td>001</td>
						<td>John Cena</td>
						<td class="text-center">
							<button class="btn btn-warning">退回</button>
						</td>
					</tr>
					<tr>
						<td>001</td>
						<td>John Cena</td>
						<td class="text-center">
							<button class="btn btn-warning">退回</button>
						</td>
					</tr>
					<tr>
						<td>001</td>
						<td>John Cena</td>
						<td class="text-center">
							<button class="btn btn-warning">退回</button>
						</td>
					</tr>
					<tr>
						<td>001</td>
						<td>John Cena</td>
						<td class="text-center">
							<button class="btn btn-warning">退回</button>
						</td>
					</tr>
					<tr>
						<td>001</td>
						<td>John Cena</td>
						<td class="text-center">
							<button class="btn btn-warning">退回</button>
						</td>
					</tr>
					<tr>
						<td>001</td>
						<td>John Cena</td>
						<td class="text-center">
							<button class="btn btn-warning">退回</button>
						</td>
					</tr>
					<tr>
						<td>001</td>
						<td>John Cena</td>
						<td class="text-center">
							<button class="btn btn-warning">退回</button>
						</td>
					</tr>
					<tr>
						<td>001</td>
						<td>John Cena</td>
						<td class="text-center">
							<button class="btn btn-warning">退回</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="col-6">
		<h3 class="border-success pl-2" style="border-left: 5px solid">通過清單</h3>
		<div style="max-height: 350px; overflow: auto">
			<table class="table table-hover">
				<thead>
					<tr>
						<th>序號</th>
						<th>學生姓名</th>
						<th style="width: 120px"></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>001</td>
						<td>John Cena</td>
						<td class="text-center">
							<button class="btn btn-warning">退回</button>
						</td>
					</tr>
					<tr>
						<td>001</td>
						<td>John Cena</td>
						<td class="text-center">
							<button class="btn btn-warning">退回</button>
						</td>
					</tr>
					<tr>
						<td>001</td>
						<td>John Cena</td>
						<td class="text-center">
							<button class="btn btn-warning">退回</button>
						</td>
					</tr>
					<tr>
						<td>001</td>
						<td>John Cena</td>
						<td class="text-center">
							<button class="btn btn-warning">退回</button>
						</td>
					</tr>
					<tr>
						<td>001</td>
						<td>John Cena</td>
						<td class="text-center">
							<button class="btn btn-warning">退回</button>
						</td>
					</tr>
					<tr>
						<td>001</td>
						<td>John Cena</td>
						<td class="text-center">
							<button class="btn btn-warning">退回</button>
						</td>
					</tr>
					<tr>
						<td>001</td>
						<td>John Cena</td>
						<td class="text-center">
							<button class="btn btn-warning">退回</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
<div class="row mb-5">
	<div class="col-md-10 offset-md-1 text-center">
		<button class="btn btn-block btn-primary">儲存</button>
	</div>
</div>
